<% if @order && @order.completed_at? %>
<div style="margin-bottom:4px" data-hook="admin_order_print_buttons">
  <% buttons = Spree::PrintInvoice::Config[:print_buttons].split(',').to_a.compact.map(&:strip) %>
  <% buttons.each do |button| %>
  <li>
    <%= link_to(Spree.t(:"#{button}", scope: [:print_invoice, :buttons], default: 'PDF Slip'),
    spree.admin_order_path(@order, :pdf, template: button),
    class: 'button fa fa-print', target: :blank) %>
  </li>
  <% end %>
</div>
<% end %>
