<% if can? :show, Spree::Order %>
  <% if @order && @order.completed_at? %>
    <% buttons = Spree::PrintInvoice::Config[:print_buttons].split(',').to_a.compact.map(&:strip) %>
    <% buttons.each do |button| %>
      <% title = Spree.t(:"#{button}", scope: [:print_invoice, :buttons], default: 'PDF Slip') %>
      <li>
        <%= link_to_with_icon 'file', title, spree.admin_order_path(@order, :pdf, template: button), title: title, target: :blank %>
      </li>
    <% end %>
  <% end %>
<% end %>
