<% if can? :show, Spree::Order %>
  <% if @order && @order.completed_at? %>
      <li>
        <%=
          link_to_with_icon 'file',
            Spree.t(:documents, scope: :print_invoice),
            spree.admin_order_bookkeeping_documents_path(@order),
            title: title,
            class: "#{'active' if current == :documents} nav-link"
        %>
      </li>
  <% end %>
<% end %>
